* {
    padding: 0;
    margin: 0;
}
body {
    color: white;
}

#root {
    width: 600px;
    height: 400px;
}
.screen {
    overflow: hidden;
    position: relative;
}

.screen ul {
    display: flex;
    color: darkblue;
    position: absolute;
    left: 0;
    top: 0;
}

li {
    display: flex;
    list-style: none;
    background-color: blue;
    outline: 2px solid black;
    background-color: blue;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    color: green;
}

.trigger {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 30px;
    font-weight: 900;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: 0.5s;
}

.trigger:hover {
    opacity: 1;
}
.trigger:focus {
    outline: none;
}

.t-left {
    left: 0;
}

.t-right {
    right: 0;
}
